body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* 
.country-select .stdropdown-container {
  font-family: "DMSans" !important;
} */

.country-select .stdropdown-container {
  border-radius: 12px;
  border: 1px solid #e0e0e0;
}

.country-select .stdropdown-input {
  padding: 8px;
}

.country-select .stdropdown-item span {
  padding: 8px;
}

.country-select .stdropdown-menu {
  max-height: 380px;
}
/* Hide the spinner in number inputs for Webkit browsers (Chrome, Safari, Edge) */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner in number inputs for Firefox */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

/* Custom animation for floating effect */
@keyframes floatCloud1 {
  0% {
    transform: translateY(0) translateX(-102px);
  }
  50% {
    transform: translateY(40px) translateX(-102px);
  }
  100% {
    transform: translateY(0) translateX(-102px);
  }
}

@keyframes floatCloud2 {
  0% {
    transform: translateY(-40px) translateX(120px);
  }
  50% {
    transform: translateY(-40px) translateX(240px);
  }
  100% {
    transform: translateY(-40px) translateX(120px);
  }
}

/* Apply the floating animation */
.animate-floating-cloud1 {
  animation: floatCloud1 3s ease-in-out infinite;
}

.animate-floating-cloud2 {
  animation: floatCloud2 3s ease-in-out infinite;
}
