@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container3X {
    @apply w-full max-w-[1392px] mx-auto;
  }

  .container2X {
    @apply w-full max-w-[1220px] mx-auto;
  }

  .containerX {
    @apply w-full max-w-[1176px] mx-auto;
  }

  .absolute_center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .fixed_center {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .flex_center {
    @apply flex items-center justify-center;
  }

  .title {
    @apply text-2xl md:text-4xl lg:text-[64px] font-bold !leading-[1.2] text-black-900 tracking-tight text-center;
  }

  .sec_common_40_60 {
    @apply py-6 md:pt-8 md:pb-10 lg:pt-10 lg:pb-15;
  }

  .sec_common_60 {
    @apply py-6 md:py-10 lg:py-15;
  }

  .sec_common_80 {
    @apply py-6 md:py-10 lg:py-20;
  }

  .sec_common_40 {
    @apply py-6 md:py-10;
  }

  .transition_common {
    @apply transition-all duration-300 ease-linear;
  }

  .tag {
    @apply text-[0.625rem] px-3 py-1 text-black-700 bg-neutral-200 rounded-full uppercase;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
